#github-plugin__wrapper
{
	display: flex;
	align-items: stretch;
}

#github-plugin__file-browser
{
	width: 304px;

	position: sticky;
	top: 76px;
	max-height: calc(100vh - 76px);

	display: flex;
	flex-direction: column;

	margin-right: 16px;
	
	transition: flex 0.15s ease-in;
}

#github-plugin__wrapper #files
{
	overflow: hidden;
}

#github-plugin__wrapper #files #diff-0 .file-header
{
	top: 0;
}